{{ 'feature-section.css' | asset_url | stylesheet_tag }}
<section class="feature">
  <div class="container">
  <div class="features-section">
    <div class="features-wrapper">
      {% for block in section.blocks %}
        <div class="feature-item">
          {% if block.settings.icon %}
            <img src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.heading }}">
          {% endif %}
          <p class="feature-heading">{{ block.settings.heading }}</p>
          {% if block.settings.subheading %}
            <p class="feature-subheading">{{ block.settings.subheading }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
</section>
{% schema %}
{
  "name": "Feature Icons",
  "settings": [],
  "blocks": [
    {
      "type": "icon",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Feature Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Optional Subheading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Icons",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

